/* .box1 {
    width: 945px;
    height: 370px;
    /* background: red; */
    /* background-image: url(../img/01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
/* 
    .box1 {
        width: 945px;
        height: 370px;
        /* background: red; */
        /* background-image: url(../img/01.jpg);
        background-repeat: no-repeat;
        background-position: center -260px;
        background-size: cover; */
        /* margin-right: auto;
        margin-left: auto; 
        margin: 0 auto;
    }*/
/* テキストをどうする？ */
/* p {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 150px;
}*/

     .box1 {
        width: 945px;
        height: 370px;
        background-image: url(../img/02.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;